{% extends "layout.twig" %}

{% block body %}
    <h1>Liste des animaux</h1>
    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>Nom</td>
                <td>Type</td>
                <td>Prix</td>
                <td>Naissance</td>
                <td>Couleur</td>
                <td>Poids</td>
                <td>Taille</td>
                {% if user.role == "ADMIN" %}<td>Actions</td>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for animal in animaux %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td>{{ animal.nom_animal }}</td>
                    <td>{{ animal.type_libelle }}</td>
                    <td>{{ animal.prix_achat }}</td>
                    <td>{{ animal.date_naissance | date("d/m/Y") }}</td>
                    <td>{{ animal.couleur }}</td>
                    <td>{{ animal.poids }}kg</td>
                    <td>{{ animal.taille }}cm</td>
                    {% if user.role == "ADMIN" %}<td><a class="btn btn-primary" href="/animaux/{{ animal.id }}/edit">🖊️</a> <a class="btn btn-danger" href="/animaux/{{ animal.id }}/delete">🗑️</a></td>{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.role == "ADMIN" %}<a class="btn btn-primary" href="/animaux/add">Ajouter</a>{% endif %}
{% endblock %}